
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #641616b1;
    color: bisque;
    padding: 1.5rem 2rem;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
    position: relative;
}

.nav__logo img {
    max-width: 100px;
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav__links .link a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: 0.3s;
}

.nav__links .link a:hover {
    color: bisque;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    #menu-toggle:checked ~ .nav__links {
        display: flex;
    }

    .nav__links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #000000b1;
        text-align: center;
        padding: 1rem 0;
    }
}
